
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 200px;
  background-color: white;
  font-family: 'Helvetica';
  font-style: normal;
  line-height: 36px;
}

.form-signin {
  width: 100%;
  max-width: 370px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
}